body{
  background-image: url(img/bg.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#grid {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  margin: 3%;
  opacity: .5;
}
.row {
  display: flex;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  border: 1px solid black;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#panelBackground {
  width:300px;
  padding: 1%;
  margin: 1%;
  border: 6px solid grey;
  border-radius: 3%;
  background-color: lightblue;
  opacity: .5;

}
#panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 1%;
  margin: 1%;
  
}
.playbackBtn{
  width: 30px;
  height: 30px;
}
.slider{
  width:100%;
}